---
import { Image } from "astro:assets";
import Yoga from "@assets/images/Welcome/Yoga.jpg";
import InstantSoleana from "@assets/images/News/InstantSoleana.jpg";
import Conference1 from "@assets/images/News/ConferencePassee.png";

const actualities = [
  {
    title: "Planning Yin Yoga",
    description:
      "Rejoignez-nous pour un cours de Yin Yoga tous les vendredis à 18h. Réserver par téléphone jusque la veille. Préparez votre petite serviette.",
    img: Yoga,
    alt: "Cours de Yin Yoga",
    phone: "07.60.48.48.06",
  },
  {
    title: "Jeannelle accueille L'Instant Soleana",
    description:
      "Retrouvez l'Instant Soleana chez Jeannelle pour des massages et soins bien-être.",
    img: InstantSoleana,
    alt: "Massages",
    link: "https://linstant-soleana.fr",
    linkText: "En savoir plus",
  },

  {
    title:
      "Conférence Passée - On ne sait plus comment manger... Ou comment bien s'alimenter.",
    description:
      "A bientôt pour de nouvelles conférences et merci pour votre présence.",
    img: Conference1,
    alt: "Conférence Passée",
  },
];
---

<section class="news-section">
  <div class="limited-container">
    <h1>Actualités & Evenements</h1>
    <div class="news-cards">
      {
        actualities.map((actu) => (
          <article class="news-card">
            <Image src={actu.img} alt={actu.alt} class="news-image" />
            <div class="news-card-content">
              <h5>{actu.title}</h5>
              <p>{actu.description}</p>
              {actu.phone && <p id="phone-number">{actu.phone}</p>}
              {actu.link && (
                <div class="button-container">
                  <a href={actu.link} target="_blank" class="button">
                    {actu.linkText}
                  </a>
                </div>
              )}
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use "src/styles/config/variables.scss" as *;
  @use "src/styles/config/mixins.scss" as *;

  .news-section {
    padding: 2rem 2rem;
    h1 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  .news-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #333;
  }

  .news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
  }

  .news-card {
    width: 100%;
    background-color: var(--white-bg-blur);
    border-radius: 15px;
    box-shadow: 0px -1px 3px 3px rgba(207, 154, 113, 0.249);
    overflow: hidden;
  }

  .news-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
  }

  .news-card-content {
    padding: 1.5rem;
    h5 {
      margin: 0 0 0.75rem 0;
    }
    p {
      line-height: 1.6;
      margin: 0 0 1.5rem 0;
    }
    #phone-number {
      font-weight: bold;
      color: var(--important-color);
      text-align: center;
    }
  }

  .news-card-content p {
  }

  @include breakpoint-up($breakpoint-desktop) {
    .news-cards {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      max-width: 1200px;
      margin: 2rem auto;
    }

    .news-card {
      width: 70%;
      transition: all 0.2s ease-in-out;
    }

    .news-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }
  }
</style>
